@font-face {
  font-family: "iconfont"; /* Project id 1717965 */
  src: url('./fonts/iconfont.woff2?t=1627826873750') format('woff2'),
       url('./fonts/iconfont.woff?t=1627826873750') format('woff'),
       url('./fonts/iconfont.ttf?t=1627826873750') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhi:before {
  content: "\e620";
}

.icon-fayin:before {
  content: "\e61c";
}

.icon-zitisuoxiao:before {
  content: "\e61a";
}

.icon-zitifangda:before {
  content: "\e61b";
}

.icon-jubao1:before {
  content: "\e6ed";
}

.icon-ziyuanxhdpi:before {
  content: "\e638";
}

.icon-guanyu:before {
  content: "\e7e8";
}

.icon-tts-langdu:before {
  content: "\e6c3";
}

.icon-bofang1:before {
  content: "\e6a2";
}

.icon-bofang3:before {
  content: "\e6a3";
}

.icon-zanting3:before {
  content: "\e6a4";
}

.icon-zanting4:before {
  content: "\e6a5";
}

.icon-bofang5:before {
  content: "\e6a6";
}

.icon-bofang4:before {
  content: "\e6a7";
}

.icon-zanting5:before {
  content: "\e6aa";
}

.icon-zanting1:before {
  content: "\e6a9";
}

.icon-bofang2:before {
  content: "\e710";
}

.icon-bofang6:before {
  content: "\e889";
}

.icon-zanting6:before {
  content: "\e89a";
}

.icon-zanting2:before {
  content: "\e887";
}

.icon-pause-full:before {
  content: "\ea8c";
}

.icon-bofang7:before {
  content: "\e6ab";
}

.icon-mac:before {
  content: "\e619";
}

.icon-gantanhao:before {
  content: "\e669";
}

.icon-shouji:before {
  content: "\e67e";
}

.icon-dianhua1:before {
  content: "\e687";
}

.icon-dianhua2:before {
  content: "\e969";
}

.icon-telephone:before {
  content: "\e96d";
}

.icon-shangyiye:before {
  content: "\e66d";
}

.icon-xiayiye:before {
  content: "\e822";
}

.icon-shuaxin:before {
  content: "\e8b9";
}

.icon-jubao:before {
  content: "\e689";
}

.icon-wenbenfuzhi:before {
  content: "\e6b0";
}

.icon-dianhua:before {
  content: "\e764";
}

.icon-danmukai:before {
  content: "\e74a";
}

.icon-danmuguan:before {
  content: "\e74b";
}

.icon-feiji:before {
  content: "\e65b";
}

.icon-zan1:before {
  content: "\e654";
}

.icon-qizhi:before {
  content: "\e6a8";
}

.icon-songhua:before {
  content: "\e974";
}

.icon-zan2:before {
  content: "\e76f";
}

.icon-chenggong:before {
  content: "\e618";
}

.icon-liuyan:before {
  content: "\e6cc";
}

.icon-xiazai:before {
  content: "\e6a1";
}

.icon-iconfontkongjian:before {
  content: "\e608";
}

.icon-haibao:before {
  content: "\e612";
}

.icon-renrenwang:before {
  content: "\e65e";
}

.icon-about:before {
  content: "\e617";
}

.icon-zidongbofang:before {
  content: "\e8c0";
}

.icon-iconset0159:before {
  content: "\e63a";
}

.icon-guanbi-xi:before {
  content: "\e649";
}

.icon-xuanzhong:before {
  content: "\e646";
}

.icon-comiisfangda:before {
  content: "\e69f";
}

.icon-erweima:before {
  content: "\e64c";
}

.icon-touxiang:before {
  content: "\e636";
}

.icon-fangda:before {
  content: "\e718";
}

.icon-liebiao:before {
  content: "\e670";
}

.icon-jianhao:before {
  content: "\e67a";
}

.icon-zanting:before {
  content: "\e68b";
}

.icon-liuyan1:before {
  content: "\e6a0";
}

.icon-guanbi:before {
  content: "\e60e";
}

.icon-erweima2:before {
  content: "\e9f1";
}

.icon-xiangyoujiantou:before {
  content: "\e6bd";
}

.icon-fanhui:before {
  content: "\e611";
}

.icon-quanping:before {
  content: "\e60a";
}

.icon-fenxiang:before {
  content: "\e635";
}

.icon-xiangyou:before {
  content: "\e940";
}

.icon-suoxiao:before {
  content: "\e615";
}

.icon-mulu:before {
  content: "\e634";
}

.icon-jiazaizhong:before {
  content: "\e6af";
}

.icon-shengyin:before {
  content: "\e607";
}

.icon-sousuo1:before {
  content: "\e601";
}

.icon-fullscreen:before {
  content: "\e604";
}

.icon-ren:before {
  content: "\e60c";
}

.icon-bofang:before {
  content: "\e626";
}

.icon-sousuo:before {
  content: "\e67c";
}

.icon-zhuye:before {
  content: "\e65c";
}

.icon-tanhao:before {
  content: "\e61f";
}

.icon-bangzhu:before {
  content: "\e802";
}

.icon-jiahao:before {
  content: "\e652";
}

.icon-un-full-screen:before {
  content: "\e655";
}

.icon-double-square:before {
  content: "\e614";
}

.icon-shujia:before {
  content: "\e602";
}

.icon-guanbishengyin:before {
  content: "\e613";
}

.icon-yuedu:before {
  content: "\e681";
}

.icon-zidongbofang-zt:before {
  content: "\e8c1";
}

.icon-quanping-tc:before {
  content: "\e8c2";
}

.icon-suolvetu:before {
  content: "\e60f";
}

.icon-Ankerwebicon:before {
  content: "\e647";
}

.icon-douban:before {
  content: "\e627";
}

.icon-down:before {
  content: "\e600";
}

.icon-comiissuoxiao:before {
  content: "\e8c3";
}

.icon-left:before {
  content: "\e8c4";
}

.icon-tieba:before {
  content: "\e60b";
}

.icon-encrypt:before {
  content: "\e603";
}

.icon-lianjie:before {
  content: "\e668";
}

.icon-erweima1:before {
  content: "\e605";
}

.icon-weibo:before {
  content: "\e650";
}

.icon-qq:before {
  content: "\e609";
}

.icon-weixin:before {
  content: "\e64e";
}

.icon-right:before {
  content: "\e9f2";
}

.icon-lingying:before {
  content: "\e616";
}

.icon-fuzhiyemian:before {
  content: "\e606";
}

.icon-time:before {
  content: "\e60d";
}

.icon-youxiang:before {
  content: "\e610";
}

.icon-exe:before {
  content: "\e64a";
}

.icon-pdf:before {
  content: "\e64b";
}

